<h1>Directives Tutorial</h1>
dyrektywy pozwalają dodać trochę interaktywności do naszych komponentów i elementów. W przeciwieństwie do komponentów nie mają template (html'a)

<h3>Structural directive:</h3>
<h5>(wpływają na DOM, element nie może mieć wiecej niż jedno)</h5>
<p><b>*ngif="something"</b>działa trochę jak ukrywanie w bootstrapie albo bulma ale nie ukrywa elementów poprez styl (hidden), ale całkiem je usuwa lub dodaje w zależności od parametru logicznego. gwiazdka (*) w nazwie oznacza, że to zmienia DOM naprawdę</p> 

<div class="example">
  <div *ngIf="condition">To zniknie w zależności od warunku w ngif: false - anika</div>
</div>

<div class="example">
  <div *ngIf="condition; else ifNot"></div>
  <ng-template #ifNot>
    <div>To się pojawi jeśli tamto się nie pojawiło, ale nie wykorzystuję się raczej tej składni</div>
  </ng-template>
</div>
<br>

<p><b>*ngFor="let comp of ArrayOfComp"</b>pozwala na tworzenie tylu komponentów ile mamy zadeklarowanych w tablicy. Będzie jakiś lepszy sposób na robienie czegoś takiego</p> 

<div class="example">
  <div *ngFor="let comp of components">{{ comp }}</div>
</div>

<p>Możemy także dodać indeks robimy to w taki sposób</p>

<div class="example">
  <p 
  [ngStyle]="{backgroundColor: 'green'}"
  *ngFor="let item of ['tom', 'bart', 'madziaXd']; let i = index ">
  {{ item + ' ' + i}}
  </p>
</div>

<p><b>ngSwitch</b> - używane jeśli chcemy wyświetlić tylko i wyłącznie element który ma konkretną wartość a mamy kilka takich elementów</p>

przykład:
<br>
<div [ngSwitch]="100">
  <p *ngSwitchCase="10">Wyświetlona liczba to 10</p>
  <p *ngSwitchCase="21">Wyświetlona liczba to 21</p>
  <p *ngSwitchCase="37">Wyświetlona liczba to 37</p>
  <p *ngSwitchDefault >Wyświetlono domyślną liczbę 69</p>
</div>

<h5>Jak structural directive działa od kuchni?</h5>
<p>dyrektywa tak jak np *ngIf jest równoważna czemuś takiemu: ng-template [ngIf]=condition</p>

<div *ngIf="true">normalny sposób w jaki piszemy structural directive</div>

<ng-template [ngIf]="true">
  <div>W taki sposób działają; obudowują nasz element, elementem ng-template i na niego nakładaja structural directive</div>
</ng-template>
<br>

<h3>attribute directive:</h3>
<p><b>ngStyle</b> - częśto używane razem z property binding czyli w taki sposób: [ngStyle]="object js z cssowymi stylami"</p>

<div class="example">
  <div [ngStyle]="{color: 'green'}">Ten tekst powinien być zielony, kolor przypisany na sztywno przez ngStyle, w miejsce 'green' może być metoda która tworzy kolor</div>
</div>

<p><b>ngClass</b> działa tak jak zamierzono tylko przy wykorzystaniu data binding pozwala dodawać klasy do htmlowego tagu jeśli selłniony warunek</p>

<div class="example">
<div [ngClass]="{klasa: true}">Tu będzie dodana klasa z stylem któy zmienia kolor na zielony</div>
<br>

<p><b>ng-content</b> - nietypowa dyrektywa bo wygląda jak htmlowy element tag. Służy do dodawania elementów kktóre zostały zaaplikowane do ciała naszego komponentu wewnątrz tego komponentu: </p>

<p>ale jeśli w template naszego komponentu damy <ng-content></ng-content> wtedy coś tam będzie w tym miejscu gdzie nasza dyrektywa</p>

<br>

<h3>Customowe dyrektywy</h3>
<p>możemy je tworzyć za pomocą CLI wpisując komendę: ng g d [nazwa dyrektywy]
    w konstruktorze podając znienną o typie ElementRef angular przypiszę do niej element do którego przypisaliśmy naszą dyrektywe</p>

</div>

przykład:
<br>
<div appBasicAttr>Na tym divie została zastosowana nasza dyrektywa customowa zmieniająca kolor tła na zielony.</div>
<br>

<h4>Renderer2</h4>
<p>Lepszą praktyką jest dodawanie do konstruktora elementu Renderer2 i zmina DOMu poprzez tą klasę (zobacz better-attr.directive) <a href="https://angular.io/api/core/Renderer2">więcej o Renderer</a></p>

przykład:
<br>
<div appBetterAttr>Na tym divie została zastosowana nasza lepsza dyrektywa customowa zmieniająca kolor tła na niebieski.</div>
<br>

<h3>Host Listener</h3>
<p>pozwala dodać interaktywności do naszych dyrektyw. aktywować logikę po tym jak zostanie wyemitowany jakiś event (zobacz interactive-attr.directive)</p>

przykład:
<br>
<div appInteractiveAttr>Na tym divie została zastosowana interaktywna dyrektywa customowa zmieniająca kolor tła na pomarańczowy jak najedziemy na nią myszką.</div>
<br>

<h3>Host binding</h3>
<p>pozwala w łatwiejszy sposób (bez renderera) przypisywać nowe style oraz nadpisywac DOM</p>

przykład:
<br>
<div>Zobacz działanie w interactive-attr.directive</div>
<br>

<h3>Binding to Directive properties</h3>
<p>mechanizm pozwalający na odwoływanie się do zmiennych/properties dyrektywy za pomocą mechanizmu property binding</p>
<p>robimy to klasycznie za pomocą dekoratora @Input()</p>

przykład:
<br>
<div appBindingAttr="#a8c25d" [directiveProp]="2137">Na ten div została nałożona dyrektywa zmieniająca kolor na taki jaki wybierzemy w prop binding oraz dodająca wybraną przez nas liczbę na koniec. Liczba to: </div>
<br>

<h3>Customowe structural directives</h3>
<p>tworzy się je podobnie do zwyczajnych dyrektyw ale z uwagi na to, że będa wywoływane na obiekcie app-template muismy do nich podać * oraz zmienić parametry w konstruktorze</p>

przykład:
<div *appStructural="false">Na ten div została nałożona customowa strukturalna dyrektywa która działa odwrotnie do ngIf (wyświetla element jeśli warunek to false, a ukrywa jak true)</div>
<br>