<h1>RxJs - operatory</h1>
<article>
    <h2>Przykładowe operatory</h2>
    <ul>
        <li>
            <b>Share</b> - <a href="https://www.bitovi.com/blog/always-know-when-to-use-share-vs.-sharereplay">artykuł na ten temat</a>, zobaczyć jaka jest różnica między tym a Subject (wiem, że share używa subject'a).
        </li>
        <li>
            <b>ShareReplay</b> - <a href="https://www.bitovi.com/blog/always-know-when-to-use-share-vs.-sharereplay">troche jest również w tym artykule</a> zachowuje się podobnie do BehaviourSubject.
        </li>
        <li>
            <b>of</b> - pozwala stworzyć observable z każdej wartości. 
        </li>
        <li>
            <b>from</b> - pozwala stworzyć observable który będzie wysyłał wartości kolejno zadeklarowane w tablicy które podajemy w metodzie tego operatora.
        </li>
        <li>
            <b>Map</b> - jeden z bardziej podstawowych operatorów. Pozwala przekrztałcić wartość po jej wyemitowaniu ze strumienia.
        </li>
        <li>
            <b>Filter</b> - Zwraca tylko te wartości które spełniają warunki filtru.
        </li>
        <li>
            <b>Tap</b> - nie robi nic :D. Używa się go do logowania danych na jakimś etapie strumienia albo do robienia takich rzeczy jak odsyłanie do innych kart (routing).
        </li>
        <li>
            <b>SwitchMap</b> - Pozwala łączyć observable w jeden wynik. <a href="https://rxmarbles.com/#switchMap">Przykład działania</a>
        </li>
        <li>
            <b>ConcatMap</b> - Również łączy observable, ale nie ignoruje wartości z drugiego observable jeśli zostanie wyemitowana następna w pierszym. Dodatkowo kończy emisje wraz z tym jak drugi observable zostanie ukończony (complete). <a href="https://rxmarbles.com/#concatMap">Przykład działania</a>.
        </li>
        <li>
            <b>StartWith</b> - pozwala zacząć strumień od pewnej konktretnej wartości. <a href="https://www.learnrxjs.io/learn-rxjs/operators/combination/startwith">Dokumentacja.</a>
        </li>
        <li>
            <b>DebounceTime</b> - wyemituje nową wartość dopiero po jakimś określonym czasie. <a href="https://www.learnrxjs.io/learn-rxjs/operators/filtering/debouncetime">Dokumentacja</a>&nbsp;<a href="https://rxmarbles.com/#debounceTime">RxJs Marbles</a>.
        </li>
        <li>
            <b>DistinctUntilChanged</b> - wyemituję nową wartość tylko i wyłącznie wtedy gdy ta różni się od ostatniej wyemitowanej wartości. <a href="https://www.learnrxjs.io/learn-rxjs/operators/filtering/distinctuntilchanged">Dokumentacja</a>&nbsp;<a href="https://rxmarbles.com/#distinctUntilChanged">RxJs marbles</a>.
        </li>
    </ul>
</article>
<article>
    <h2>Przydatne linki:</h2>
    <a href="https://rxmarbles.com/">Interaktywne diagramy pokazujące działanie wybranych operatorów RxJs.</a>
    <br>
    <a href="https://www.youtube.com/watch?v=Byttv3YpjQk">Filmik Morony o najbardziej przydatnych (jego zdaniem) operatorach RxJs.</a>
</article>
<article>
    <h2>Combine Latest</h2>
    <p>Przykład:</p>
    <p *ngFor="let value of combineLatestDemo | async">
        {{ value }}
    </p>
</article>
<article>
    <h2>Subject - różne rodzaje</h2>
    <h3>Subject</h3>
    <p>podstawowy rodzaj, pozwala dzielić się wartościami/emitować je do wielu obserwatorów.</p>

    <h3>BehaviorSubject
    </h3>
    <p>Specjalny rodzaj subjectu który przetrzymuje ostatnio wartość. Po subskrybcji jest ona wysyłana obserwującego.</p>
    <button (click)="onBehaviorSubjectTest()">BehaviorSubject Test</button>
    <hr>

    <h3>ReplaySubject
    </h3>
    <p>Specjalny rodzaj subjecta. pozwala wysłać określoną ilość zapisanych nexttów/wartości do subsktrybenta który zasubskrybował po tym jak kilka takich wartości zostało wyemitowanych. Możemy również określić jak stare mogą być maksymalnie wartości które chcemy wysłać (zobacz w dokumentacji).</p>
    <button (click)="onReplaySubjectTest()">ReplaySubject Test</button>
    <hr>

    <h3>AsyncSubject
    </h3>
    <p>Specjalny rodzaj subjecta, który wysyła tylko ostatnio wartość wysłaną w next jeśli subject jest complete</p>
    <button (click)="onReplaySubjectTest()">AsyncSubject Test</button>
    <hr>

</article>
<article>
    <h2>Subject - Testy</h2>
    <p><a href="https://rxjs.dev/guide/subject">Tutaj zgrabnie są opisane różne rodzaje subjectów</a></p>
    <div>
        <div class="bordered-section">
            <h3>Subject</h3>
            <p>{{ subjectTest | async }}</p>
        </div>
        <div class="bordered-section">
            <h3>BehaviorSubject</h3>
            <p>{{ behaviorSubject | async }}</p>
        </div>
    </div>
</article>
