<h1>Http Requests</h1>

<p>Aby działało musimy zaimportować HttpClientModule w app.module. A w serwisie w któym chcemy wywoływać taką metodę używamy HttpClient.</p>

<p>Przykład: </p>

<form [formGroup]="testForm" (ngSubmit)="onCreateTest()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit">Stwórz</button>
</form>

<ng-container *ngIf="data$ | async as data; else loading">
    <div class="row element" *ngFor="let element of data">
        <div class="col">
            {{element.name}} <br>
            {{element.description}}
        </div>
    </div>
    <div *ngIf="data.length === 0">
        No data!
    </div>
</ng-container>
<ng-template #loading>Loading...</ng-template>
<br>
<button (click)="onDeleteElement()">Delete</button>