<div class="row">
    <div class="col-4">

        <div class="form-group">
            <form #form="ngForm">
                <label for="email">Adres Email</label>
                <input 
                  type="text"
                  class="form-control"
                  id="email"
                  required
                  email
                  name="email"
                  ngModel
                  #email="ngModel">

                <p class="valid-error" *ngIf="email.invalid && email.touched"> Nieprawidłowy email!</p>

                <label for="subscription">Wybierz subskrypcje</label>
                <select 
                  class="form-select" 
                  name="subscription"
                  id="subscription"
                  ngModel="advanced"
                  required>
                    <option value="Basic">Basic</option>
                    <option value="advanced" selected>Advanced</option>
                    <option value="Pro">Pro</option>
                </select>

                <label for="password">Hasło:</label>
                <input 
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  ngModel
                  required
                  #pass="ngModel"
                  minlength="6">

                  <div *ngIf="pass.invalid && pass.touched">Hasło jest wymagane i musi mieć przynajmniej 6 znaków</div>
                  <br>
                  <button 
                  type="submit"
                  class="btn btn-primary"
                  (click)="onSubmit()">
                  Wyślij
                  </button>
            </form>
        </div>
    </div>
</div>