<h1>Formularze w Angular</h1>
<p>Angular ułatwia prace z formularzami pozwalając na walidacje danych, interaktywność. Zbiera dane z formularzy i przesyła je do jsonowego obiektu.</p>

<p>Mamy dostęp do dwóch podejść do tworzenia formularzy:</p>

<ul>
    <li><b>Template-Driven</b> - prostsze wymaga mniej konfiguracji. Polega na tworzeniu danych w htmlu które angular potem zczytuje w odpowiedni sposób</li>

    <li><b>Reactive</b> - bardziej skomplikowane ale dające większy pole popisu jeśli chodzi o customizacje</li>
</ul>
