<h1 class="title">Welcome in Tutorial of Angular</h1>

<div class="container">

  <app-tutorial-section [nameOfSection]="'dyrektywy'">
    <app-directives></app-directives>
  </app-tutorial-section>

  <app-tutorial-section [nameOfSection]="'databinding'">
    <app-databinding inputProp="Tom"></app-databinding>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Serwisy" [isVisible]="false">
    <app-services></app-services>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Serwisy - zadanie">
    <app-services-assign></app-services-assign>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Observables" [isVisible]="false">
    <app-observables></app-observables>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Formularze - Template-Driven" [isVisible]="false">
    <app-forms></app-forms>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Formularze TD - zadanie" [isVisible]="false">
    <app-forms-assign></app-forms-assign>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Formularze - Reactive" [isVisible]="true">
    <app-reactive-forms></app-reactive-forms>
  </app-tutorial-section>

</div>
