.title {
    background-color: azure;
    padding: 15px;
    margin-bottom: 40px;
}

.row {
    margin-top: 40px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

.container {
    margin-bottom: 50px;
}