<h1 class="title">Welcome in Tutorial of Angular</h1>

<div class="container">
  <app-tutorial-section nameOfSection="RxJs" [isVisible]="true">
    <app-rxjs-demo></app-rxjs-demo>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="NgRx" [isVisible]="true">
    <app-ngrx-demo></app-ngrx-demo>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Testy" [isVisible]="false">
    <app-test></app-test>
  </app-tutorial-section>

  <app-tutorial-section [nameOfSection]="'dyrektywy'">
    <app-directives></app-directives>
  </app-tutorial-section>

  <app-tutorial-section [nameOfSection]="'databinding'">
    <app-databinding inputProp="Tom"></app-databinding>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Serwisy" [isVisible]="false">
    <app-services></app-services>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Serwisy - zadanie">
    <app-services-assign></app-services-assign>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Observables" [isVisible]="false">
    <app-observables></app-observables>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Formularze - Template-Driven" [isVisible]="false">
    <app-forms></app-forms>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Formularze TD - zadanie" [isVisible]="false">
    <app-forms-assign></app-forms-assign>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Formularze - Reactive" [isVisible]="false">
    <app-reactive-forms></app-reactive-forms>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Pipes" [isVisible]="false">
    <app-pipes></app-pipes>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Żądania Http" [isVisible]="false">
    <app-http-requests></app-http-requests>
  </app-tutorial-section>

  <app-tutorial-section nameOfSection="Moduły - optymalizacja" [isVisible]="true">
    <app-modules></app-modules>
  </app-tutorial-section>
</div>
