<article>
    <h2>Test angular-svg-icons</h2>

    <svg-icon name="custom-name"></svg-icon>
    <svg-icon name="doctor"></svg-icon>
    
</article>

<article>
    <h2>Responsywność w angularze</h2>

    <span *ngIf="sectionIsVisible">
        To pole zniknie na odpowiedniej rozdzielczości
    </span>
</article>

<article>
    <div *ngFor="let subscriber of subscribers">
        <app-inner-test [title]="subscriber.name"></app-inner-test>
    </div>
    
    <button (click)="changeValue()">Zamiana</button>
</article>