<div class="row">
    <div class="col-6 create-item">
        <div class="form-group">
            <label>Item title</label>
            <input 
            type="text"
            class="form-control"
            #itemTitle>
        </div>
        <div class="form-group">
            <label>Content</label>
            <input 
            type="text"
            class="form-control"
            #itemContent>
        </div> <br>
        <button
        class="btn btn-primary"
        (click)="onItemCreated(itemTitle.value, itemContent.value)">
        Add item
        </button>
        <br><br>
    </div>
</div>
