<h1>NgRx - profesjonalne zarządzanie stanem</h1>
<article>
    <p>
        Narzędzie to zostało stworzone przez część angular teamu do zarządzania stanem w profesjonalnych/dużych aplikacjach.
    </p>
    <p>
        Jest zbliżone działaniem do Reactowego Reduxa - w zasadzie jest to ten sam koncept. NgRx jest po prostu implementacją schematu jakim jest Redux, zrobioną przez angular team, i zintegrowaną właśnie z tym frameworkiem, jednak, jeżeli chcemy, można używać biblioteki Redux do zarządzania stanem - ngRx nie jest narzucony.
        <br>
        Ogólna idea jest taka, że mamy jeden js'owy obiekt, tzw. Store, który przetrzymuję informacje na temat wszystkich stanów w aplikacji. 
        <br>
        Komponenty oraz serwisy otrzymują takie dane bezpośrednio od tego Store'a natomiast jeśli chcą go przekazać muszą wysłać go przy pomocy kolejnego js'owego obiektu Action który to skolei przekazuje go jeszcze dalej do Reducer'a. Ten łączy dane stany a następnie przysyła je bezpośrednio do Store'a.
        <br>
        Nie wiem na jakim etapie ta informacja będzie potrzebna ale: Reducery wykonują tylko synchroniczny kod!
    </p>
</article>
<article>
    <h2>Test prostego "serwisu?"/store - wyświetlanie</h2>

    <ng-container *ngFor="let comic of (comics$ | async)">
        <div class="comic">
            <p>{{ comic }}</p>
            <button (click)="deleteComic(comic)">Delete</button>
        </div>
    </ng-container >

</article>
<article>
    <h2>Test store - dodawanie/zmiana stanu</h2>
    <form [formGroup]="comicForm" (ngSubmit)="onSubmit()">
        <label for="name">Nazwa komiksu</label> <br>
        <input 
            type="text"
            formControlName="name"
            id="name">
        <br>
        <button type="submit">Dodaj komiks</button>
    </form>
</article>